<h1>Listing multis</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multis.each do |multi| %>
      <tr>
        <td><%= multi.user %></td>
        <td><%= link_to 'Show', multi %></td>
        <td><%= link_to 'Edit', edit_multi_path(multi) %></td>
        <td><%= link_to 'Destroy', multi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Multi', new_multi_path %>
